/* myStyle.css */
a {
	color: #f7b733;
	text-decoration: none;
}
a:hover{
	color: #f7b733;
}
div {
	max-width:720px; 
	padding:10px;
	padding-top:5px;
	padding-bottom:5px
}
body {
	font-weight: bold;
	margin: 0;
	font-family: josefinSans;
	background-color: #4abdac;
	color: #dfdce3;
	overflow-x: hidden;
}
h1{
	padding-top: 15px;
	padding-left: 65px;
}
h2 {
	padding-left: 45px;
	color: #f7b733;
}
h3 {
	color: #fc4a1a;	
}
#heady{
	
}
#fullwidth {
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
}
#navitem {
	padding-left: 100px;
}

.strokeme
{
    color: #ff8f00;
	
    text-shadow:
    -1px -1px 0 #525252,
    1px -1px 0 #525252,
    -1px 1px 0 #525252,
    1px 1px 0 #525252;  
}

@font-face {
	font-family: josefinSans;
	src: url('jose/JosefinSans-Regular.eot');
	src: url('jose/JosefinSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('jose/JosefinSans-Regular.woff2') format('woff2'),
		url('jose/JosefinSans-Regular.woff') format('woff'),
		url('jose/JosefinSans-Regular.ttf') format('truetype'),
		url('jose/JosefinSans-Regular.svg#JosefinSans') format('svg');
}
html {
	overflow-x: hidden;
}