/* myStyle.css */
#test {
	
}
a {
	color: #dfdce3;
	text-decoration: none;
}
a:hover{
	color: #fc4a1a;
}
div {
	padding:10px;
	padding-top:5px;
	padding-bottom:5px
}
body {
	font-weight: bold;
	margin: 0;
	font-family: josefinSans;
	background-color: #4abdac;
	color: #dfdce3;
	overflow-x: hidden;
}
p{
    text-indent: 50px;
}
h1{
	font-size: 100px;
}
h2 {
	margin-left: 165px;
	color: #f7b733;
    font-size: 65px;
    margin-top: 0px;
    margin-bottom: 0px;
}
h3 {
	padding-left: 65px;
	color: #f7b733;	
}
#heady{
	
}
#fullwidth {
	width: 100%;
	padding-top: 25px;
	padding-bottom: 25px;
}
#navitem {
	padding-left: 100px;
}
.sidebar{
    margin-left: 35px;
    color: #f7b733
}
.barrier-left{
    height: 35px;
    background-color: #f7b733;
    border-radius: 15px;
    margin-left: -15px;
    margin-bottom: 25px
}
.barrier-right{
    height: 35px;
    background-color: #f7b733;
    border-radius: 15px;
    margin-right: -15px;
    margin-left: 15%;
    margin-bottom: 25px
}
.strokeme
{
    color: #ff8f00;
	
    text-shadow:
    -1px -1px 0 #525252,
    1px -1px 0 #525252,
    -1px 1px 0 #525252,
    1px 1px 0 #525252;  
}

@font-face {
	font-family: josefinSans;
	src: url('jose/JosefinSans-Regular.eot');
	src: url('jose/JosefinSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('jose/JosefinSans-Regular.woff2') format('woff2'),
		url('jose/JosefinSans-Regular.woff') format('woff'),
		url('jose/JosefinSans-Regular.ttf') format('truetype'),
		url('jose/JosefinSans-Regular.svg#JosefinSans') format('svg');
}
html {
}